:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; /* Ajusta según sea necesario */
  background-color: #242424; /* Ajusta el color de fondo según sea necesario */
}

/* Estilos para el botón */
.container button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #1976D2; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 4px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 60px;
  border: 10px solid #ccc; /* Agrega un borde de color gris (#ccc) */
  padding: 30px; 
  height: 100vh; /* Ajusta según sea necesario para ocupar el 100% de la altura visible */
}

.buttons-container {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #1976D2; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 4px;/* Ajusta según sea necesario para establecer un espacio entre el título y los botones */
}


.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.buttons-container3 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lista-preguntas {
  list-style: none;
  padding: 0;
}

.pregunta-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pregunta-respuestas {
  flex: 1;
  text-align: left;
}

.pregunta,
.respuestas {
  margin-bottom: 10px;
}

.botones {
  text-align: right;
}

.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #333;
}

form {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #bbb;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #000000;
}

form {
  width: 400px;
  background-color: #919090;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(9, 9, 9, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: inherit;
}
